body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  text-align: center;
  text-decoration-line: underline;
  background-color: lab(95.25% 2.2 -0.86);
}

input {
  padding: 8px;
  width: 250px;
}

button {
  padding: 8px 15px;
  margin-left: 5px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.box {
  background: rgb(7, 235, 110);
  padding: 20px;
  width: 250px;
  border-radius: 8px;
}
